# secrets
.env
*.env
standx_ed25519.json
*ed25519*.json

# deps
node_modules/

# logs / misc
*.log
.DS_Store

# IDE
.vscode/
.idea/

# OS
Thumbs.db

# optional
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local archives / backups
standx-mmu-win.zip
plandB-*mmu_bot.mjs
